.mat-card {
  background-color: rgb(20, 20, 20);
  color: white;
}

.spinner {
  justify-self: center;
}

.genre {
  background-color: #708ed2;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 0 0.5rem;
  margin-right: 4px;
}

.note {
  background-color: #1e1e1e;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem !important;
  font-weight: bold;
  color: aliceblue;
  font-size: 12px;
  margin-left: 1rem;
}

.title {
  color: #708ed2;
  font-size: 2rem;
  padding: 1rem 0 0 1rem;
}

.cast {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.actorCard {
  display: flex;
  align-items: center;
}

.actor {
  width: 8rem;
  height: 12rem;
  object-fit: cover;
  background-color: #333;
}

.actor-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.actor-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 12rem;
  background-color: #333;
}

.hidden {
  display: none;
}

.is-phone-portrait {
  .genre {
    font-size: 11px;
  }
  .title {
    font-size: 20px;
  }
  .iframe {
    height: 150px;
  }
}
