@if (!isLoaded()) {
	<div>
		<mat-progress-spinner class="spinner" color="accent" mode="indeterminate"> </mat-progress-spinner>
	</div>
}
@if (isLoaded()) {
	<div class="details-movie-container">
		<mat-card [class.is-phone-portrait]="isPhonePortrait()" class="mat-card">
			@if (isPhonePortrait()) {
				<img mat-card-image [src]="'https://image.tmdb.org/t/p/w780/' + mediaDetails()?.backdrop_path" />
			}
			@if (!isPhonePortrait()) {
				<img mat-card-image [src]="'https://image.tmdb.org/t/p/w1280/' + mediaDetails()?.backdrop_path" />
			}
			<mat-card-title class="title">{{ mediaDetails()?.title || mediaDetails()?.name }}</mat-card-title>
			<mat-card-header>
				@for (genre of genres(); track genre) {
					<div>
						<div class="genre">{{ genre }}</div>
					</div>
				}
			</mat-card-header>
			<mat-card-header
				>Date de sortie: {{ mediaDetails()?.release_date || mediaDetails()?.first_air_date | date }}
				<div class="note-container">
					<mat-card-subtitle class="note"> {{ mediaDetails()?.vote_average | number: '1.1-1' }} </mat-card-subtitle>
					<span>{{ mediaDetails()?.vote_count }} votes</span>
				</div></mat-card-header
			>

			<mat-card-content>
				<p>
					{{ mediaDetails()?.overview }}
				</p>
				@if (productionCompanies().length) {
					<span><strong>Production:</strong> {{ productionCompanies().join(', ') }}</span>
				}
				@if (productionCountries().length) {
					<span><strong>Pays:</strong> {{ productionCountries().join(', ') }}</span>
				}
				@if (spokenLanguages().length) {
					<span><strong>Langues:</strong> {{ spokenLanguages().join(', ') }}</span>
				}

				@if (mediaDetails()?.budget) {
					<span><strong>Budget:</strong> {{ mediaDetails()?.budget | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
				}
				@if (mediaDetails()?.revenue) {
					<span><strong>Recette:</strong> {{ mediaDetails()?.revenue | currency: 'USD' : 'symbol' : '1.0-0' }}</span>
				}
				@if (isVideoLoaded1()) {
					<iframe
						width="80%"
						height="800"
						class="iframe"
						[src]="videoSafeUrl1()"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				}
				@if (isVideoLoaded2()) {
					<iframe
						width="80%"
						height="800"
						class="iframe"
						[src]="videoSafeUrl2()"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				}
				@if (mediaDetails()?.runtime) {
					<span><strong>Durée:</strong> {{ mediaDetails()?.runtime }} min</span>
				}
				<div class="cast">
					@for (
						cast of castingList().slice(0, showAllCast() ? castingList().length : isTablet() ? 10 : 6);
						track cast.id
					) {
						<mat-card class="actorcard" [routerLink]="['/person', cast.id]">
							<mat-card-subtitle>{{ cast.name }}</mat-card-subtitle>
							<mat-card-content>
								<img class="actor" mat-card-image [src]="'https://image.tmdb.org/t/p/w185/' + cast.profile_path"
							/></mat-card-content>
						</mat-card>
					}
				</div>
				@if (castingList().length > (isTablet() ? 10 : 6)) {
					<div class="view-more-container">
						<button mat-stroked-button color="primary" (click)="toggleCast()">
							{{ showAllCast() ? 'Voir moins' : 'Voir plus' }}
						</button>
					</div>
				}
			</mat-card-content>
		</mat-card>
	</div>
}
