@if (isMobile()) {
	<form
		class="search-bar"
		style="width: 100%; margin-right: 0"
		(submit)="
			$event.preventDefault(); search(searchInputMobile.value); searchInputMobile.blur(); triggerMobile.closePanel()
		"
	>
		<input
			#searchInputMobile
			#triggerMobile="matAutocompleteTrigger"
			type="search"
			[placeholder]="searchType() === 'movie' ? 'Rechercher des films...' : 'Rechercher des séries...'"
			(click)="searchInputMobile.select()"
			[matAutocomplete]="autoMobile"
			style="width: 100%"
			(input)="onSearchInput(searchInputMobile.value)"
		/>
		<mat-autocomplete
			#autoMobile="matAutocomplete"
			class="mat-autocomplete-custom"
			panelWidth="80vw"
			(optionSelected)="search($event.option.value); searchInputMobile.blur()"
		>
			@for (option of preSearchResults() | slice: 0 : 5; track option.id) {
				<mat-option [value]="option.title || option.name" style="height: auto; padding: 8px 8px; display: block">
					<div style="display: flex; align-items: center; justify-content: space-between; gap: 12px">
						@if (option.poster_path) {
							<img
								[src]="'https://image.tmdb.org/t/p/w92' + option.poster_path"
								[alt]="option.title || option.name"
								style="height: 8vh; object-fit: cover; border-radius: 0.8rem"
							/>
						}
						<span>{{ option.title || option.name }}</span>
						<mat-card-subtitle [style]="getNoteColor(option.vote_average)" class="note">
							{{ option.vote_average | number: '1.0-1' }}
						</mat-card-subtitle>
					</div>
				</mat-option>
			}
		</mat-autocomplete>
		<button mat-icon-button type="submit">
			<mat-icon>search</mat-icon>
		</button>
	</form>
} @else {
	<div class="search-bar">
		<input
			#searchInput
			#trigger="matAutocompleteTrigger"
			type="text"
			[placeholder]="searchType() === 'movie' ? 'Rechercher des films...' : 'Rechercher des séries...'"
			(keyup.enter)="search(searchInput.value); trigger.closePanel()"
			(click)="searchInput.select()"
			[matAutocomplete]="auto"
			(input)="onSearchInput(searchInput.value)"
		/>
		<mat-autocomplete
			#auto="matAutocomplete"
			class="mat-autocomplete-custom"
			panelWidth="40vw"
			(optionSelected)="search($event.option.value)"
		>
			@for (option of preSearchResults() | slice: 0 : 5; track option.id) {
				<mat-option [value]="option.title || option.name" style="height: auto; padding: 5px 16px">
					<div style="display: flex; align-items: center; gap: 10px">
						@if (option.poster_path) {
							<img
								[src]="'https://image.tmdb.org/t/p/w92' + option.poster_path"
								[alt]="option.title || option.name"
								style="height: 15vh; object-fit: cover; border-radius: 0.8rem"
							/>
						}
						<span>{{ option.title || option.name }}</span>
						<mat-card-subtitle [style]="getNoteColor(option.vote_average)" class="note">
							{{ option.vote_average | number: '1.0-1' }}
						</mat-card-subtitle>
					</div>
				</mat-option>
			}
		</mat-autocomplete>
		<button mat-icon-button (click)="search(searchInput.value)">
			<mat-icon>search</mat-icon>
		</button>
	</div>
}
