.toolbar {
	background: var(--primary-gradient);
	color: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	margin: 0;
}

::ng-deep .mat-toolbar-single-row {
	flex-wrap: wrap !important;
	justify-content: flex-end !important;
}

.title-toolbar {
	padding: 1rem;
}

.search-bar {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
	border-radius: 4px;
	padding: 0 8px;
	display: flex;
	align-items: center;
	margin-right: 16px;
	justify-content: space-between;
	input {
		background: transparent;
		border: none;
		color: white;
		outline: none;
		padding: 8px;
		font-family: inherit;

		&::placeholder {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}

.note {
	background-color: #333;
	color: #fff;
	border-radius: 6px;
	padding: 6px 12px !important;
	font-weight: 700;
	font-size: 1rem;
	margin: 0 0 0 1.5rem;
	display: inline-block;
	width: fit-content;
}

::ng-deep .mat-mdc-autocomplete-panel {
	max-height: 50vh !important;
	border-radius: 1rem !important;
}

::ng-deep .mat-autocomplete-custom {
	&::-webkit-scrollbar {
		width: 8px;
		overflow: hidden;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (max-width: 800px) {
	.hide-on-mobile {
		display: none;
	}

	::ngdeep .mat-mdc-autocomplete-trigger {
		width: 70vw !important;
	}
}

.search-bar-mobile {
	background: var(--primary-gradient);
	padding: 10px;
	display: flex;
	justify-content: center;
}

@media (min-width: 801px) {
	.hide-on-desktop {
		display: none;
	}
}
