<mat-toolbar>
  <!--
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
-->
  <span>Movies</span>
  <span class="example-spacer"></span>
  <!--
    <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    color="warn"
    aria-label="Example icon-button with share icon"
  ><mat-icon>share</mat-icon>
  </button>
  -->
</mat-toolbar>

<div class="main">
  <div *ngFor="let movie of movies">
    <app-movie [movieInfos]="movie"></app-movie>
  </div>
</div>

<div
  class="main-panel"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="4000"
  (scrolled)="onScroll()"
></div>

<button (click)="getMovies()">get movies</button>
