<mat-toolbar class="toolbar">
  <!--
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
-->
  <h1
    class="title-toolbar"
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    style="cursor: pointer"
  >
    Movies
  </h1>

  <h1
    class="title-toolbar"
    routerLink="series"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    style="cursor: pointer"
  >
    Series
  </h1>
  <!--
    <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    color="warn"
    aria-label="Example icon-button with share icon"
  ><mat-icon>share</mat-icon>
  </button>
  -->
</mat-toolbar>

<router-outlet></router-outlet>
