$font-family_1: Poppins;
$background-color_1: #171717;

/* You can add global styles to this file, and also import other style files */
@import "@angular/material/theming";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap";
html {
	height: 100%;
	margin: 0;
	background-color: $background-color_1;
	font-family: $font-family_1;
}
body {
	height: 100%;
	margin: 0;
	background-color: $background-color_1;
	font-family: $font-family_1;
}
