@if (!isLoaded) {
  <div>
    <mat-progress-spinner class="spinner" color="accent" mode="indeterminate">
    </mat-progress-spinner>
  </div>
}
@if (isLoaded) {
  <div class="details-movie-container">
    <mat-card
      [ngClass]="{ 'is-phone-portrait': isPhonePortrait }"
      class="mat-card"
    >
      <mat-card-title class="title">{{ detailsMovies.title }}</mat-card-title>
      <mat-card-header>
        @for (genre of this.genres; track genre) {
          <div>
            <div class="genre">{{ genre }}</div>
          </div>
        }
      </mat-card-header>
      <mat-card-header>Date de sortie: 2023-04-05</mat-card-header>
      <mat-card-subtitle class="note">
        {{ detailsMovies.vote_average | number: "1.1-1" }}
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          {{ detailsMovies.overview }}
        </p>
        @if (isVideoLoaded) {
          <iframe
            width="80%"
            height="800"
            class="iframe"
            [src]="videoSafeUrl"
            allow="
              accelerometer;
              autoplay;
              encrypted-media;
              gyroscope;
              picture-in-picture;
            "
            allowfullscreen
          ></iframe>
        }
        <div class="cast">
          @for (cast of castingList; track cast) {
            <mat-card class="actorcard">
              <mat-card-subtitle>{{ cast.name }}</mat-card-subtitle>
              <mat-card-content
                ><img
                  class="actor"
                  mat-card-image
                  src="https://image.tmdb.org/t/p/w1280//{{
                    cast.profile_path
                  }}"
              /></mat-card-content>
            </mat-card>
          }
        </div>
        >
      </mat-card-content>
      <!-- <mat-card-footer>{{ movieInfos.release_date }}</mat-card-footer> -->
    </mat-card>
  </div>
}
