
.card {
  background-color: #555555;
  color: #eee;
  height: fit-content;
  width: 22rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem 1rem 1rem ;
  overflow: hidden;
  cursor: pointer;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
  align-items: center;
  padding: 1rem;
  min-height: 50px;

}

.title {
  line-height: 1.2
}



.note {
  background-color: #1e1e1e;
  border-radius: 3px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem !important;
  font-weight: bold;
  color: aliceblue;
  margin-left: 1rem;

}



