<p>{{ movie }}</p>
<div class="modal-content">
  <img src="imgPath + backdrop_path" alt="title" />

  <div id="movie-modal" class="movie-modal">
    <div class="movie-modal-note">vote_average</div>
    <div class="movie-modal-votes">$vote_count votes</div>
    <div class="movie-modal-title">title</div>
    <div class="movie-modal-release-date">Date de sortie: release_date}/div>
    <div class="genre">showMoviesGenre(genre_ids)</div>
    <div class="movie-modal-overview">overview</div>
    <!--             <div>${id}</div>-->
    <!-- <iframe
      src="https://www.youtube.com/embed/$"+"PkYXSCXMg_8"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe> -->
    <!--             <div class="movie-modal-casting">Casting: ${casting}</div>-->
    <div class="movie-modal-crew">Direction: crew</div>
    <div id="casting">
      <div id="casting-content"></div>
    </div>
  </div>
</div>
